DS_STORE
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
node_modules
*~
_SpecRunner.html
__benchmarks__
__snapshots__
build/
remote-repo/
coverage
flow-coverage/
.module-cache
*.log*
*.iml
.vscode
.vs
*.swp
*.swo